<ion-view class="about_page">
  
  <ion-header-bar class="header_bar bar bar-header bar-stable">
    <!--button class="button button-icon button-clear icon ion-arrow-up-a" ng-click="toTop()">
    </button-->

    <div class="title">
      About Us
    </div>

    <button class="button button-icon button-clear icon ion-navicon" menu-toggle="right">
    </button>

  </ion-header-bar>

  <ion-content padding="true" scroll="true">
    <div>
      <p>
        Matthew 19:14 Jesus said, 'Let the little children come to Me, and do not forbid them, for of such is the kingdom of heaven.'
      </p>

      <p>
        Bible For Children exists to make Jesus Christ known to children through distributing illustrated Bible stories and related material in different forms and media, including the World Wide Web, Cell Phone/PDA\'s, printed color tracts and coloring books, in every language a child may speak.
      </p>

      <p>
        These Bible Stories are to be distributed to the 1.8 billion children of the world freely wherever possible.
      </p>
    </div>
  </ion-content>
  
</ion-view>